@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}
.active hr{
    @apply block;
}
/* this above css activates the style for the element which is active */
::-webkit-scrollbar{
    @apply hidden;
}